:root {
  --primary-color: #f5e8c7;
  --secondary-color: #deb6ab;
  --accent-color: #ac7088;
}
h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  margin-top: 23rem !important;
  font-size: 96px !important;
}
h1,
h2 {
  color: var(--primary-color);
  margin-left: 30px;
}
h2 {
  padding-bottom: 20px;
  font-family: "Mhtirogla", Fallback;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: justify;
  font-size: 18px !important;
  line-height: 2rem !important;
}
h4 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 700 !important;
  padding: 50px 0 50px 0;
}
h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px !important;
  color: var(--accent-color);
}
footer {
  font-family: "Mhtirogla", Fallback;
  text-align: center;
  padding: 20px;
}
.wrap {
  max-width: 1700px;
  margin: 0 auto;
  position: relative;
}
.hero {
  background-image: url("/images/Portrait.jpg");
}
.hero,
.about-hero {
  background-repeat: none;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}
.about-hero {
  background-image: url("/images/Lake\ image\ from\ 2003.jpg");
}
.navbar-brand {
  margin: 20px;
}
a.nav-link {
  color: var(--primary-color);
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 20px;
  padding-right: 20px !important;
}
a.nav-link:hover {
  color: var(--accent-color);
}
.nav-link.active {
  color: var(--accent-color) !important;
}
.navbar-toggler {
  border: 1px solid #f5e8c7 !important;
}
.navbar-toggler-icon {
  background-image: url("/images/Menu\ icon.png") !important;
}
.second-about-header {
  font-size: 96px;
  margin-top: -37px;
}
.third-about-header {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 96px;
  margin-top: -95px;
}
.project-title {
  font-size: 32px;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  color: var(--accent-color);
  padding: 18px 16px;
  text-align: center;
}
.introduction {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 24px;
}
.olive-portrait {
  width: 100%;
  height: auto;
}
.featured-projects-main-header {
  margin: 50px 50px 0 61px;
}
.featured-projects-main-header,
.featured-side-header,
.projects-side-header {
  font-family: "Mhtirogla", Fallback;
  font-size: 24px;
  text-transform: uppercase;
}
.projects-side-header {
  font-weight: bolder;
}
.featured-projects-letter {
  margin: 0 16px 16px 16px;
}
.weather-app-image,
.sen-laptop-image {
  width: 100%;
  height: auto;
  margin-left: 20px;
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.3);
}
.app-title {
  text-align: center;
  margin-top: 50px !important;
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  font-weight: 700;
}
.learn-more-button,
div.submit-button {
  text-decoration: underline !important;
  color: var(--secondary-color) !important;
  font-size: 24px !important;
  font-family: "Roboto Mono", monospace !important;
  font-weight: 700 !important;
}
.learn-more-arrow {
  width: 40px;
  height: auto;
}
.more-about-me {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: justify;
  line-height: 1.7;
}
.certification-links {
  flex-direction: column;
}
.certification-link {
  text-align: left !important;
  text-decoration: underline !important;
  font-family: "Roboto Mono", monospace !important;
  font-weight: 700 !important;
  color: var(--secondary-color) !important;
  font-size: 18px !important;
}
.card {
  border-color: var(--accent-color) !important;
}
.contact-container {
  border: 1px solid var(--accent-color);
}
.form-control {
  border: 1px solid var(--accent-color) !important;
}
.card-text {
  text-align: justify;
  line-height: 1.7;
}
.card-text,
h2.accordion-header,
.accordion-body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.accordion-item {
  border-color: var(--accent-color) !important;
}
button.accordion-button {
  box-shadow: none !important;
}
.accordion-button.collapsed {
  color: var(--accent-color);
}
.accordion-button::after {
  background-image: url("/images/arrow-pointing-down.png") !important;
}
.accordion-button:not(.collapsed) {
  color: var(--accent-color) !important;
  background-color: rgba(172, 112, 136, 0.15) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("/images/arrow-pointing-down.png") !important;
}
a.launch-app-link,
.launch-open-source-link {
  color: var(--secondary-color);
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}
a.launch-app-link:hover,
.launch-open-source-link:hover {
  color: var(--accent-color);
}
.project-date {
  font-family: "Roboto Mono", monospace;
  padding: 6px 12px;
}
div.coming-soon {
  margin: 90px 0 0 0;
  font-family: "Mhtirogla", Fallback;
  font-size: 18px;
}
.footer-section-wrap {
  margin-top: 200px;
  border-top: 1px solid #ac7088;
}
.footer-container {
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.fa-brands {
  font-size: 32px;
  color: var(--accent-color);
}
.source-link {
  color: var(--secondary-color);
}
.source-link:hover {
  color: var(--accent-color);
}
@font-face {
  font-family: Mhtirogla;
  src: url("MHTIROGLA.ttf");
  src: url("mhtirogla-webfont.woff") format("woff"),
    url("mhtirogla-webfont.woff2") format("woff2");
}
@media (max-width: 992px) {
  .navbar-toggler {
    position: relative;
    right: 30px;
  }
}
@media (max-width: 767px) {
  .weather-app-image,
  .sen-laptop-image {
    margin: 0 !important;
  }
  h1 {
    font-size: 41px !important;
  }
  .featured-projects-main-header {
    margin: 40px 0 0 0;
    text-align: center;
  }
  .social-media {
    margin-bottom: 20px;
  }
  .more-about-me {
    margin-top: 40px !important;
  }
  .certification-link {
    font-size: 16px !important;
  }
}
